<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Login">
        <parameter name="deviceName" value="Pixel"/>
        <parameter name="udid" value="emulator-5554"/>
        <classes>
            <class name="login.LoginTest"/>
        </classes>
    </test>
    <test name="Register">
        <parameter name="deviceName" value="Pixel"/>
        <parameter name="udid" value="emulator-5554"/>
        <classes>
            <class name="register.RegisterTest"/>
        </classes>
    </test>
</suite>