<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Tests">
        <parameter name="deviceName" value="android"/>
        <parameter name="udid" value="emulator-5554"/>
        <classes>
            <class name="login.LoginTest"/>
            <class name="register.RegisterTest"/>
            <class name="registeruser.RegisterUserTest"/>
        </classes>
    </test>
</suite>